<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">
    <insert id="insertBoard">
        insert into GeekNews (id, category, title, content,url)
        values
        (#{id},#{category},#{title},#{content},#{url})
    </insert>
    <update id="updateBoard">
        update GeekNews
        set id= #{id},category = #{category},title = #{title}, content = #{content}, url = #{url}
        where board_seq = #{board_seq}
    </update>
    <delete id="deleteBoard">
        delete from GeekNews where board_seq = #{board_seq}
    </delete>
    <select id="getBoard" resultType="board">
        select * from GeekNews where board_seq = #{board_seq}
    </select>
    <select id="getBoardList" resultType="board">
        select * from GeekNews order by board_seq desc
    </select>
</mapper>