<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Comment">
    <insert id="insertComment">
        insert into comment (content,board_seq)
        values
            (#{content},#{board_seq})
    </insert>
    <update id="updateComment">
        update comment
        set content = #{content}
        where comment_seq = #{comment_seq}
    </update>
    <delete id="deleteComment">
        delete from comment where comment_seq = #{comment_seq}
    </delete>
    <delete id="deleteAllComment">
        delete from comment where board_seq = #{board_seq}
    </delete>
    <select id="getComment" resultType="comment">
        select * from comment where comment_seq = #{comment_seq}
    </select>
    <select id="getCommentList" resultType="comment">
        select * from comment where board_seq = #{board_seq} order by regdate desc
    </select>
</mapper>